:root {
    --black: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --orange-web-light: #fca31155;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;
}

* {
    box-sizing: border-box;
}
.menu-toggle {
    color: var(--oxford-blue);
    display: block;
    padding: 10px;
}
.link-bar {
    display: flex;
    position: absolute ;
    right: 25px;
    justify-content: space-around;
    padding: 10px;
}
.link-bar a {
    border-bottom: 3px solid #ffffff00;
    text-decoration: none;
    margin: 10px 30px;
    transition: .5s;
    color: var(--oxford-blue);
    padding: 10px;
}

.link-bar a:hover {
    border-bottom: 3px solid var(--orange-web);
} 

hr {
    border: 1px solid var(--orange-web);
    width: 50%;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Faculty Glyphic', serif;
    color: var(--oxford-blue);
}

p,
a,
label,
li,
input,
textarea,
select,
option,
figcaption,
button {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
    font-size: 1.2rem;
}
/* --------------header stuff--------------- */
header {
    background-color: var(--white);
    box-shadow: 5px -5px 5px 5px var(--orange-web);
    color: var(--oxford-blue);
    display: grid;
    grid-template-columns: 1fr 1fr ;
    place-items: center;
    margin-bottom: 2px;
}


header .logo {
    display: flex;
    place-items: center;
}
/* ------------------main stuff---------------- */
main {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}

.mainp {
    background-color: var(--platinum);
}

main .hero {
    background-color: var(--white);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.hero picture {
    grid-area: 1/1/2/3;
}

.hero picture img {
    width: 100%;
    height: auto;
}

main .main-content {
    max-width: 1040px;
    padding: 30px 0;
}

.hr-img-cont,
.hr-txt-cont {
    position: absolute;
    padding: 0 15px;
}

.hr-txt-cont {
    grid-column: 1/2;
}

.hr-img-cont {
    grid-column: 2/3;
}

.hr-img-cont img {
    width: 100%;
}

.fir-sect-abt,
.fir-sect,
.sec-sect,
.thir-sect,
.forth-sect {
    margin: 2rem 0;
    padding: 0 10px;
}

#about-us {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.fir-sect-abt {
    max-width: 700px;
    margin: 0 0 20px 0;
    justify-content: center;
    text-align: center;
}

.fir-sect-abt h2 {
    text-align: center;
    margin-top: 35px;
}
.fir-sect-abt .core {
    text-align: center;
}

.fir-sect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 30px;
}

.fir-sect img {
    order: 2;
    grid-column: 1/2;
    width: 100%;
}

.fir-sect div {
    grid-column: 2/3;
}

.sec-sect h2,
.thir-sect h2 {
    text-align: center;
}

.thir-sect {
    border-radius: 10px;
    background-color: var(--oxford-blue);
    padding: 30px 0;
}

.thir-sect h2 {
    margin-bottom: 60px;
    color: var(--orange-web);
}

.thir-sect .icon-label {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    place-items: center;
}

.forth-sect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.forth-sect img {
    width: 100%;
}

.site-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.site-view figure {
    padding: 1px;
    box-shadow: 0 0 2px var(--oxford-blue);
    background-color: var(--orange-web);
    padding-bottom: 20px;
    border-radius: 6px;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.site-view figure:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 15px 1px var(--oxford-blue);
}

.site-view figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    border: none;
    padding: 10px 25px;
    margin-left: 5%;
    max-width: fit-content;
    font-size: 1rem;
    border-radius: 25px;
    transition: 0.1s ease-in-out;
    background-color: var(--orange-web);
    box-shadow: 1px 1px 5px var(--oxford-blue);
}

button:hover {
    box-shadow: none;
    background-color: var(--oxford-blue);
    color: var(--platinum);
}

.bt-centered {
    align-self: center;
    margin: 0 100px;
    max-height: fit-content;
}

.hook a {
    text-decoration: none;
    color: var(--orange-web);
    border-bottom: 1px solid var(#ffffff00);
    font-size: 2rem;
}

.hook a:hover{
    border-bottom: 1px solid var(--orange-web);
}

.hero2 {
    background-color: var(--oxford-blue);
    display: flex;
    place-items: center;
    flex-flow: column;
    width: 100%;
    text-align: center;
}

.hero2 p {
    padding: 0 50px;
    color: var(--orange-web);
}

.hero2 h2 {
    margin: 20px 0 0 0;
    color: var(--platinum);
    width: 100%;
    padding: 0 20px;
}

.contact-form{
    padding: 10px;
    width: 100%;
    max-width:410px;

}
.contact-form h2{
    text-align: center;
    color: var(--orange-web);
}
.contact-form label{
    margin-left: 5px;
}
.required{
    color: red;
    font-size: 0.9rem;
}

.contact-form textarea{
    height: 100px;
}

.contact-form input, 
.contact-form textarea, 
.contact-form select,option{
    font-size: 1rem;
    display: block;
    max-width: 500px;
    border: 1px solid var(--oxford-blue); 
    border-radius: 5px;
    background-color: var(--platinum);
    width: 100%;
    padding: 10px; 
    margin-bottom:15px ;
}

.info-container div p strong,
.conf-container h2{
    text-align: center;
    color: var(--platinum);
}

.info-container div p{
    text-align: center;
    font-size: 1rem;
}
.info-container div img{
    width: 90%;
} 
.info-container div{
    place-self: center;
    width: 80%;
    max-width: 250px;
}

.info-container{
    padding:5px 30px 30px 30px;
    display: grid ;
    grid-template-columns: 1fr 1fr;
    background-color: var(--oxford-blue);
    color: var(--orange-web);
    border-radius: 15px;
}
.contact-form button{
    max-width:100%;
    width: 90%;
}
.contact-form button:hover{
    background-color: var(--platinum);
    color: var(--oxford-blue);
    box-shadow: 1px 1px 5px var(--orange-web);
}

.conf-container{
    background-color: var(--oxford-blue);
    display: flex;
    padding-top: 30px;
    border-radius: 15px;
    width: 500px;
    flex-direction: column;
    place-items: center;
}

/* ----------------footer stuff------------ */
footer {
    background-color: var(--black);
    box-shadow: -5px 0 25px var(--oxford-blue);
    color: var(--platinum);
    font-size: 0.9rem;
    display: grid;
    grid-template: auto 30px / 1fr 1fr;
    place-items: center;
}

footer h3 {
    color: var(--orange-web);
}

footer p {
    grid-area: 2/1/3/4;
    justify-self: center;
    font-size: 0.9rem;
    font-weight: normal;
}

.social-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.ft-contact{
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
}
.ft-contact button:hover{
    box-shadow: 1px 1px 5px var(--white);
}

.joiner {
    grid-area: 1/2/2/3;
    padding: 10px;
    justify-self: start;
}