@media only screen and (min-width: 640px){
    nav .navigator{
        display: flex;
    }
    .navigator li{
        display: block;
        flex: 1 1 100%;
    }    

    .navigator li a{
        /* border:1px solid red; */
        text-align: center;
    }
    #menu{
        display: none;
    }
}
    