/* @import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;700&display=swap'); */


@media screen and (min-width:800px){
    main{
        grid-template-columns: 1fr 1fr;
    }    
  
    /* .info-items li{
        text-align: left;
    } */

    .data-set,
    .weather-set{
        background-color: var(--pri-bgcolor);
        color: var(--dark-ftcolor);
        box-shadow: 0 0 10px var(--highlight-color2);
        border-radius: 5px;
        padding-bottom: 5px;
        margin: 50px;
        width:300px;
        text-align: left;
        z-index: 1;
        filter: opacity(80%);
    }

    .weather::after{
        content: "🔆";
        font-size: 1.5rem;
    }

    span img{
        display: none;
    }

    .weather-set{
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: right;
        align-self: center;
    }
    
    .data-set{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    hr{
        display: none;
    }

    .title-tag{
        box-shadow: 0 0 10px var(--highlight-color1);
        border-radius:5px;
        background-color: var(--highlight-color1);
        color: var(--light-ftcolor);
        position: relative;
        top: 10px;
        left: -20px;
        padding: 0 20px;
        width: 80%;
        text-align: left;
    }

    

}